@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf");
}

:root {
    --primary-background-color: #121212;
    --primary-text-color: #fffbf4;
    --secondary-text-color: #d8cfbc;
    --accent-color: #ffc300;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--primary-background-color);
}