@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

:root {
    --primary-background-color: #121212;
    --primary-text-color: #fffbf4;
    --accent-color: #ffd343;
    --background-gradient: linear-gradient(290deg, #121212, #202020);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-background-color);
    background-image: var(--background-gradient);
}

::-webkit-scrollbar {
    width: 0px;
}

.splitter {
    background-color: var(--accent-color);
    height: 5px;
}