header {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

#logo {
    margin-left: 10%;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale .2s ease;
}

#logo:hover {
    scale: 1.1;
}

#logo a {
    color: var(--primary-background-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

header nav {
    margin: 0 auto;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    position: absolute;
    left: 50%;
    translate: -50%;
}

.header-nav-element {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: lighter;
    position: relative;
}

.header-nav-element::after {
    content: "";
    background-color: var(--primary-text-color);
    mix-blend-mode: exclusion;
    width: calc(100% + 16px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -8px;
    transition: all 0.15s cubic-bezier(0.5, 0.05, 0.55, 1);
}

.header-nav-element:hover::after {
    height: calc(100% + 8px);
}